@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<section class="card mt-4 p-4">
    <h1>Zmiana hasła</h1>
    <p>
        Wysłaliśmy email w celu zmiany hasła na podany adres mailowy. Sprawdź skrzynkę.
    </p>
</section>


