@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center " <span
                        class="bs-icon-sm d-flex justify-content-center bs-icon my-4">
                        <object data="~/icons/person-circle.svg" width="50em" height="50em"></object>
                        </span>
                        <div class="col-md-8 col-xl-6 text-center mx-auto my-4">
                            <h2 class="fw-bold">Zaloguj się</h2>
                        </div>
                        <form id="account" method="post" class="col-10">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                    aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                                    aria-required="true" />
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <button id="login-submit" type="submit"
                                    class="btn btn-primary rounded-pill shadow w-75 mb-3">Zaloguj</button>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div>
                                <a id="forgot-password" class="text-muted" asp-page="./ForgotPassword">Nie pamiętam
                                    hasła</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}