@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section id="loginPage" class="py-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center ">
                        <span class="bs-icon-sm d-flex justify-content-center bs-icon my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                 class="bi bi-person-circle w-25 h-25" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </span>
                        <div class="col-md-8 col-xl-6 text-center mx-auto my-4">
                            <h2 class="fw-bold">Zaloguj się</h2>
                        </div>
                        <form id="account" method="post" class="col-10">

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                       aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                                       aria-required="true" />
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
                            <div>
                                <button id="login-submit" type="submit"
                                        class="btn btn-primary rounded-pill shadow w-75 mb-3">
                                    Zaloguj
                                </button>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}