@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using System.ComponentModel;
@using static YourITMatch.Models.JobOfferModel;
@model YourITMatch.Models.JobOfferModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>JobOfferModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EDIT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group visually-hidden">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryFrom" class="control-label"></label>
                <input asp-for="SalaryFrom" class="form-control" />
                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryTo" class="control-label"></label>
                <input asp-for="SalaryTo" class="form-control" />
                <span asp-validation-for="SalaryTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCategory" class="control-label"></label>
                <select asp-for="JobCategory" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(_JobCategory)))
                    {
                        var name = value.GetType()
                        .GetMember(value.ToString())
                        .First()
                        .GetCustomAttribute<DisplayAttribute>()?
                        .Name
                        ?? value.GetType()
                        .GetMember(value.ToString())
                        .First()
                        .GetCustomAttribute<DescriptionAttribute>()?
                        .Description
                        ?? value.ToString();

                        <option value="@value">@name</option>
                    }
                </select>
                <span asp-validation-for="JobCategory" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Remote" /> @Html.DisplayNameFor(model => model.Remote)
                </label>
            </div>
            <div class="form-group row justify-content-between">

                <input type="submit" value="Zapisz" class="btn btn-success col-3" />
                <a asp-action="Index" class="text-white text-decoration-none col-2 btn btn-danger">Anuluj</a>
            </div>
        </form>
    </div>
</div>

